{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for Listing in Listings %}
        <ul>
            <a href="{% url 'ListingPage' Listing.pk %}">
                <li>Title: {{Listing.Title}}, 
                    Description: {{Listing.Description}},
                    Current Price: {{Listing.Starting_Bid}},
                    <img src="{{Listing.Url_img}}" alt="Image" width="120" height="100"> </li>
            </a>
        </ul>
    {% endfor %}
{% endblock %}