{% extends "auctions/layout.html" %}


{% block body %}
    
    <h1>{{Listing.Title}} </h1>
    <div>
        <img src="{{Listing.Url_img}}" alt="Image" width="200" height="250">
    </div>
    <hr>
    <p>{{Listing.Description}}</p>
    <hr>
    <h4>Category</h4>
    <p>{{Listing.Category}}</p>
    <hr>
    <div>
        Current Price: {{Listing.Price}}
    </div>
    {% if owned is False %}
        {% if user.is_authenticated %}    
           
            <div>
                <form action="{% url 'ListingPage' Listing.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" name="wacthlist">Add/Remove from WacthList</button>
                </form>
            </div>
            {% if Listing.Active is True %}
                <div>
                    <form action="{% url 'ListingPage' Listing.pk %}" method="POST">
                        {% csrf_token %} 
                        <input type="number" name="New_Bid" placeholder="New Bid">
                        <input class="" type="submit" value="Biding">
                        
                    </form>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.extra_tags == 'bid_error' %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.extra_tags == 'bid_message' %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}     
    {% else %}
        {% if Listing.Active is True  %}        
                {% if user.is_authenticated and owned is True %}    
                    <div>
                        <form action="{% url 'ListingPage' Listing.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="Close">Close Listing</button>
                        </form>
                    </div>
                {% endif %}
        {% endif %}
            

    {% endif %}    
    
    {% if Listing.Active is False %}
        <H5>This listing is Closed</H5>
        {%  if user.is_authenticated %}
                {% if Winner == request.user %}
                    <div>
                        <h4>YOU WON THE AUCTION</h4>
                    </div>
                {% else %}
                    <div>   
                    <h4> {{Winner}} WON THE AUCTION</h4>
                </div>
                {% endif %}     
        {% endif %}
    {% endif %}

    <div>
        <hr>

        <H5>Comment Seccion</H5>
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.extra_tags == 'comment_error' %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
                <form action="{% url 'ListingPage' Listing.pk %}" method="post" id="comment_form">
                    {% csrf_token %}
                    <textarea name="comment" form="comment_form" rows="3" cols="50" ></textarea>
                    <input type="submit" class="btn btn-primary" value="Comment out">
                </form>
            {% endif %}
        </div>
        <div>
            {% for Comment in Comments %}
            <div>
                <p>
                    <h6 class="font-weight-bold">{{Comment.User}}</h6>

                    {{Comment.Contend|safe}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}